@import 'variables';

body {
  margin: 0;
  padding: 0;
  //font-family: $roboto-regular;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: -0.00833em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 40%;
  margin: 50px auto;
}

.grid-container {
  margin: 25px auto;

  > div {
    padding: 25px;
  }

}